@font-face {
  font-family: Nunito;
  src: url("fonts/nunito.woff2");
}

@font-face {
  font-family: Unbounded;
  src: url("fonts/unbounded.woff2");
}

@font-face {
  font-family: TossFace;
  src: url("fonts/tossface.otf");
}

html {
  --font-sans: "Nunito", "TossFace";
  --font-sans: "Nunito", "TossFace";
}

.bs-footer-links {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-sm);
  column-gap: calc(var(--spacing) * 6);
  a {
    text-decoration: none;
  }
}

.bz-header-brand {
  font-family: "Unbounded";
  font-size: 1.4em;
  span {
    height: auto;
  }
}
